/* Modal styles */
.modaledit .modal-dialog {
	max-width: 400px;
}

.modaledit .modal-header, .modaledit .modal-body, .modaledit .modal-footer {
	padding: 20px 30px;
}

.modaledit .modal-content {
	border-radius: 1px;
}

.modaledit .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 1px 1px;
}

.modaledit .modal-title {
	display: inline-block;
}

.modaledit .form-control {
	border-radius: 1px;
	box-shadow: none;
	border-color: #dddddd;
}

.modaledit textarea.form-control {
	resize: vertical;
}

.modaledit .btn {
	border-radius: 1px;
	min-width: 100px;
}

.modaledit form label {
	font-weight: normal;
}